header {
    height: 100px;
    background-color: aqua;


    Nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;

        .nav-btn {
            background-color: rgb(195, 195, 195);
            padding: 5px;
            border-radius: 15%;
            margin: 3dvw;
        }

        .nav-btn:hover {
            background-color: grey;
        }
    }
    
    .logo-main {
        color: rgb(127, 28, 15);
        font-family: Nabla, Cursive;
        text-align: center;
    }
}