@import "../Components/colors";
@import "../Components/mixins";

//Text Component 1
header {
    width: 100dvw;
    background-color: $Primary-Green;
    border-bottom: 5px solid $Primary-Gold;

    Nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8vw;    
        

        .nav-btn {
            font-size: 1.2em;
            color: $Secondary-silver;
            background-color: transparent;
            border-color: transparent;
            text-decoration: none;
        }

        .nav-btn:hover {
            transform: scale(1.2) translate(0px, -5px);
            text-decoration: underline;
        }
    }
    
    .logo-main {
        background-color: $Primary-Green;
        text-align: center;
        h1 {
            color: $Font-yellow;
            font-family: Antonio, Cursive;
            font-size: 44px;
            margin: 10px;
            @include fontoutline;
        }
    }
    
    @media only screen and (min-width: 768px) {
        Nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15vw; 

            .nav-btn {
                font-size: 1.5em;
            }
        }
    }
}

