section.technical {
    width: 100vw;
    height: fit-content;
    
    .title {
        display: flex;
        justify-content: center;
        h1 {
            text-align: center;
            font-size: 40px;
            font-family: curtive, cursive;
            color: $Secondary-silver;
        }
    }

    .techcontent {
        width: 100vw;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .HTML {
            text-align: center;
            max-width: 95vw;
            p {
                color: $Secondary-silver;
            }
        }

        pre {
            width: 95vw;
            overflow-x: scroll;

        }
        .anchors {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5vw;
        }
        .SCSS {
            margin-top: 100px;
            text-align: center;
            max-width: 95vw;
            p {
                color: $Secondary-silver;
            }
        }

        .style-anchors {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5vw;

            a {
                width: 120px;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 900;
                color: black;
                background-color: rgb(104, 104, 255);
                border: 1px solid black;
                box-shadow: 5px 5px 0px 1px rgba(242, 235, 110, 0.7), 5px 5px 0 2px black;
                opacity: 0.8;
                transition: 0.1s;

                &:hover {
                    opacity: 1;
                    transform: translate(10px, 10px);
                    box-shadow: none;
                }
            }
        }    
        .Python {
            margin-top: 100px;
            text-align: center;
            p {
                color: $Secondary-silver;
            }
        }
        
    }
}