@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Vast+Shadow&display=swap");
body {
  margin: -10px 0px 0px 0px;
}

header {
  width: 100vw;
  height: 150px;
  background-color: #43573E;
  border-bottom: 5px solid #8B6212;
}
header Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}
header Nav .nav-btn {
  font-size: 1.2em;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  margin: 15px 10px;
}
header Nav .nav-btn:hover {
  transform: scale(1.2) translate(0px, -5px);
  text-decoration: underline;
}
header .logo-main {
  background-color: #43573E;
  text-align: center;
  padding-top: 20px;
}
header .logo-main h1 {
  font-family: Nabla, Cursive;
  padding: 0px;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  header Nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15vw;
  }
  header Nav .nav-btn {
    font-size: 1.5em;
  }
}

.container {
  width: 100dvw;
  height: 100px;
  background-color: #43573E;
}
body {
  background-color: #0F2143;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
body section .article-container {
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body section .article-container article h3 {
  text-align: center;
  color: #E4E4DE;
  font-size: 32px;
}
body section .article-container article img {
  max-width: 300px;
  height: auto;
  margin-bottom: 300px;
}
body section .img {
  margin: 5vh 5vw;
  max-width: 90dvw;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15vw;
}
body section h1 {
  text-align: center;
  font-size: 34px;
  font-family: Curtive, cursive;
  color: #E4E4DE;
}
body section p {
  text-align: center;
}
body section .main-btns {
  background-color: #0F2143;
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
body section .main-btns a {
  position: relative;
  background: rgb(73, 73, 73) 128, 128, 128, 0.164;
  color: #E4E4DE;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}
body section .main-btns a:hover {
  background: #E4E4DE;
  color: #E4E4DE;
  letter-spacing: 0.2rem;
  box-shadow: 0 0 35px #E4E4DE;
}
body section .main-btns a:before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #201e1e;
}
body section .main-btns a span {
  position: relative;
  z-index: 1;
}
body section .main-btns a i {
  position: relative;
  inset: 0;
  display: block;
}
body section .main-btns a i::before {
  content: "";
  position: absolute;
  top: -38px;
  left: 90%;
  width: 10px;
  height: 4px;
  background: #8B6212;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.8s;
}
body section .main-btns a:hover i::before {
  width: 20px;
  left: 20%;
}
body section .main-btns a i::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 10%;
  width: 10px;
  height: 4px;
  background: #8B6212;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.8s;
}
body section .main-btns a:hover i::after {
  width: 20px;
  left: 90%;
}
body footer {
  margin-top: auto;
}

.article-container {
  display: flex;
}

@media only screen and (min-width: 768px) {
  img {
    transform: scale(1.2);
  }
  img p {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) {
  img {
    margin-top: 5vh;
    transform: scale(1.5);
  }
}/*# sourceMappingURL=main.css.map */