//Dark colors
$Primary-black: #231f20;


//Secondary colors

//terctiary
$blue-btn: rgb(30, 30, 99);
$red-btn: rgb(209, 0, 0);
$pink-btn: rgb(240, 26, 136);
$grad-blue: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); 

//fonts-light

//fonts-dark

